* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(/fonts/lato/Lato-Black.ttf);
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(/fonts/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(/fonts/lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(/fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(/fonts/lato/Lato-Thin.ttf);
}

@font-face {
  font-family: "DynaPuff", system-ui;
  src: url(/fonts/dyna-puff/DynaPuff_SemiCondensed-SemiBold.ttf);
}

@font-face {
  font-family: "Nunito", sans-serif;
  src: url(/fonts/nunito/Nunito-Black.ttf);
}

@font-face {
  font-family: "Smooch Sans", sans-serif;
  src: url(/fonts/smooch-sans/SmoochSans-Black.ttf);
}

.navbar {
  background-color: #282828;
}

.navbar .navbar-mobile button img {
  width: 35px;
  height: auto;
}

.navbar .nav-item a {
  color: #ffffff;
  font-family: "Smooch Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

@media screen and (min-width: 768px) {
  .navbar .nav-item a {
    opacity: 0.33;
  }

  .navbar .nav-item a:hover {
    opacity: 1;
  }
}

.carousel .carousel-inner .carousel-item {
  height: 31rem;
  background-color: #282828;
}

.carousel .carousel-inner .carousel-item .image-container {
  width: 250px;
  display: block;
  margin: 20px auto 0;
}

.carousel .carousel-inner .carousel-item .carousel-caption h5 {
  width: 300px;
  background-color: #00564d;
  padding: 10px;
  border-radius: 30px;
  font-family: "DynaPuff", system-ui;
  font-weight: 300;
  font-size: 25px;
  margin: 0 auto 0;
}

.carousel .carousel-inner .carousel-item .carousel-caption p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 3px 0px 3px 0px;
}

.carousel .carousel-inner .carousel-item .carousel-caption p span {
  color: green;
  font-weight: 800;
}

.carousel .carousel-control-prev img {
  width: 30px;
  height: auto;
  transform: rotate(180deg);
}

.carousel .carousel-control-next img {
  width: 30px;
  height: auto;
}

.information-basic {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  padding: 10px;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .information-basic {
    grid-template-columns: repeat(4, 250px);
    align-items: center;
  }
}

.information-basic div {
  margin: 10px auto 10px;
}

.information-basic div img {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}

.information-basic div h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 1px auto 1px;
  color: #ffffff;
}

.information-basic div p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .information-basic div:hover {
    filter: drop-shadow(5px 5px 5px #969696);
  }
}

.title-general {
  font-family: "Smooch sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .title-general {
    max-width: 1200px;
    margin: 30px auto;
  }
}

.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  margin: 20px 0;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .container-products {
    max-width: 1200px;
    margin: 30px auto;
  }
}

.container-products .card-product {
  border: 1px solid #969696;
  border-radius: 5px;
}

.container-products .card-product .image-card {
  border-bottom: 1px solid #969696;
}

.container-products .card-product .image-card img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.container-products .card-product .information-card h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 5px;
}

.container-products .card-product .information-card p {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  font-style: italic;
  padding: 0px 5px;
}

.container-products .card-product .button-card {
  font-family: "Smooch sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #00897b;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  display: flex;
}

.container-products .card-product .button-card a {
  text-decoration: none;
  color: #ffffff;
}

footer {
  background-color: #969696;
  border-top: 3px solid #363636;
}

@media screen and (min-width: 768px) {
  footer .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}

footer .footer-content .footer-discount {
  padding: 15px;
  border-bottom: 4px solid #363636;
}

@media screen and (min-width: 768px) {
  footer .footer-content .footer-discount {
    border-bottom: none;
  }
}

footer .footer-content .footer-discount h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

footer .footer-content .footer-discount .input-group button {
  background-color: #00897b;
  font-family: "Smooch sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

footer .footer-content .footer-category-list {
  padding: 15px;
  border-bottom: 5px solid #363636;
}

@media screen and (min-width: 768px) {
  footer .footer-content .footer-category-list {
    border-bottom: none;
  }
}

footer .footer-content .footer-category-list h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 25px;
}

footer .footer-content .footer-category-list ul li {
  list-style: none;
  border-top: 2px solid #282828;
  list-style-position: outside;
}

footer .footer-content .footer-category-list ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Smooch sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  footer .footer-content .footer-category-list ul li {
    opacity: 0.33;
  }

  footer .footer-content .footer-category-list ul li:hover {
    opacity: 1;
  }
}

footer .footer-content .footer-inf-list {
  padding: 15px;
  border-bottom: 5px solid #363636;
}

@media screen and (min-width: 768px) {
  footer .footer-content .footer-inf-list {
    border-bottom: none;
  }
}

footer .footer-content .footer-inf-list h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 25px;
}

footer .footer-content .footer-inf-list ul li {
  list-style: none;
  border-top: 2px solid #282828;
  list-style-position: outside;
}

footer .footer-content .footer-inf-list ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Smooch sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  footer .footer-content .footer-inf-list ul li {
    opacity: 0.33;
  }

  footer .footer-content .footer-inf-list ul li:hover {
    opacity: 1;
  }
}

footer .footer-content .footer-social-media {
  padding: 15px;
}

footer .footer-content .footer-social-media .icon-stamp {
  width: 250px;
  display: none;
}

@media screen and (min-width: 768px) {
  footer .footer-content .footer-social-media .icon-stamp {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

footer .footer-content .footer-social-media ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
}

footer .footer-content .footer-social-media ul li {
  list-style: none;
}

footer .footer-content .footer-social-media ul li a {
  text-decoration: none;
}

footer .footer-content .footer-social-media ul li a img {
  width: 60px;
  height: auto;
}

@media screen and (min-width: 768px) {
  footer .footer-content .footer-social-media ul li a img {
    width: 45px;
    height: auto;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
  }

  footer .footer-content .footer-social-media ul li a img:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }
}

.information-nav-productos div {
  width: 100%;
  position: relative;
  display: inline-block;
  height: 450px;
  background-color: black;
}

.information-nav-productos div img {
  width: 100%;
  height: 100%;
  opacity: 0.33;
  display: block;
  object-fit: cover;
}

.information-nav-productos div h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumbs-section nav {
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .breadcrumbs-section nav {
    max-width: 1200px;
    margin: 30px auto;
  }
}

.breadcrumbs-section nav ol li {
  font-family: "Smooch sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.breadcrumbs-section nav ol li a {
  font-family: "Smooch sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.inf-servicios {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .inf-servicios {
    max-width: 1200px;
    margin: 30px auto;
  }
}

.inf-servicios p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 30px;
}

.inf-servicios div h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  background-color: #282828;
  color: #ffffff;
  border-radius: 30px;
  padding: 10px;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .inf-servicios div .inf-section-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.inf-servicios div .inf-section-servicios div {
  background-color: #00897b;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.inf-servicios div .inf-section-servicios div h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 20px 0;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .inf-servicios div .inf-section-servicios div h3 {
    font-size: 30px;
  }
}

.inf-servicios div .inf-section-servicios div ul li {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  list-style: square;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .inf-servicios div .inf-section-servicios div ul li {
    font-size: 26px;
  }
}

.inf-servicios div .inf-section-servicios img {
  max-width: 100%;
  max-height: auto;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 40px;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .inf-servicios div .inf-section-servicios img {
    max-height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .inf-section-nosotros {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.inf-section-nosotros div p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.inf-section-nosotros div h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.inf-section-nosotros div ul li {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  list-style: square;
}

.inf-section-nosotros img {
  padding: 10px;
  max-width: 100%;
  max-height: auto;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .inf-section-contacto {
    max-width: 1200px;
    margin: 30px auto;
  }
}

.inf-section-contacto h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.inf-section-contacto p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.inf-section-contacto .form-label {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.inf-section-contacto .btn {
  background-color: #00897b;
  font-family: "Smooch sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */